@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');

$totalHeight: 100vh;
$totalWidth: 100%;

$UbuntuFont: 'Patrick Hand', cursive;

body {
  margin: 0;
  padding: 0;
}

.container{
  height: 1500vh;
  .overlayAnimations{
    height: $totalHeight;
    width: $totalWidth;
    position: fixed;
    .skyBackgroundImage{
      z-index: -30;
      width: $totalWidth;
      position: fixed;
    }
    .mainHillImage{
      width: $totalWidth;
      position: fixed;
      bottom: 0;
    }
    .secondHillImage, .thirdHillImage{
      width: $totalWidth;
      position: fixed;
      bottom: 0;
    }
    .mountain1Image, .mountain2Image{
      width: $totalWidth;
      position: fixed;
      bottom: -100vh;
    }
    .desertHill1Image, .desertHill2Image, .desertHill3Image{
      width: $totalWidth;
      position: fixed;
      bottom: -100vh;
    }
    .hill4image, .oceanImage{
      width: $totalWidth;
      position: fixed;
      bottom: -100vh;
    }
  }
  .home{
    width: $totalWidth;
    height: $totalHeight;
    position: fixed;
    .homeTitle{
      color: #ffffff;
      text-align: center;
      font: {
        size: 8em;
      }
    }
  }
}
