@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

$totalHeight: 100vh;
$totalWidth: 100%;

$MainFont: 'Patrick Hand', cursive;
$SecondFont: 'Indie Flower', cursive;

body {
  margin: 0;
  padding: 0;
}

.container{
  height: 600vh;
  .overlayAnimations{
    height: $totalHeight;
    width: $totalWidth;
    position: fixed;
    .skyBackgroundImage{
      z-index: -30;
      width: $totalWidth;
      position: fixed;
    }
    .mainHillImage{
      width: $totalWidth;
      position: fixed;
      bottom: 0;
    }
    .appleSeedImage{
      width: 1%;
      position: fixed;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .plant{
      position: fixed;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
    .secondHillImage, .thirdHillImage{
      width: $totalWidth;
      position: fixed;
      bottom: 0;
    }
    .hill4Image, .oceanImage, .desertHill1Image, .desertHill2Image, .desertHill3Image, .mountain1Image, .mountain2Image, .mountain3Image{
      width: $totalWidth;
      position: fixed;
      bottom: -100vh;
    }
    //Mountain animations
    .mountain1Image{
      transition-duration: 1s;
    }
    .mountain2Image{
      transition-duration: 1.8s;
    }
    .mountain3Image{
      transition-duration: 2.2s;
    }
    //Desert animations
    .desertHill1Image{
      transition-duration: 1s;
    }
    .desertHill2Image{
      transition-duration: 1.8s;
    }
    .desertHill3Image{
      transition-duration: 2.2s;
    }
    //Last stage animations
    .hill4Image{
      transition-duration: 1s;
    }
    .oceanImage{
      transition-duration: 1.8s;
    }
  }
  .home{
    width: $totalWidth;
    height: $totalHeight;
    position: fixed;
    .homeTitle{
      color: #ffffff;
      text-align: center;
      transition-duration: 1s;
      font: {
        size: 8em;
        family: $MainFont;
      }
    }
    .plantText{
      color: #CCDFF3;
      text-align: center;
      letter-spacing: 8px;
      margin: {
        top: 20vh;
      }
      font: {
        size: 2em;
        family: $SecondFont;
      }
    }
  }
  .play{
    width: $totalWidth;
    height: $totalHeight;
    position: fixed;
    .playTitle{
      position: fixed;
      color: #ffffff;
      text-align: center;
      transition-duration: 1s;
      width: $totalWidth;
      margin: {
        left: 200%;
      }
      font: {
        size: 6em;
        family: $MainFont;
      }
      .playTitleContent {
        width: 35%;
      }
    }
    .playText{
      position: fixed;
      color: #CCDFF3;
      text-align: center;
      transition-duration: 1.8s;
      width: $totalWidth;
      margin: {
        top: 20vh;
        left: 200%;
      }
      font: {
        size: 1.5em;
        family: $SecondFont;
      }
      .playTextContent{
        width: 35%;
      }
    }
  }
}
